<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799076129257-ld3864frke6tsvdsm6m6c1dcierqi86u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799076129257-ld3864frke6tsvdsm6m6c1dcierqi86u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>799076129257-2s3d5jl07qiv74sk8gqjn5k1ri8q85gt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiIXP0THR_qu1IdaV2ef916bHBtnDkuxE</string>
	<key>GCM_SENDER_ID</key>
	<string>799076129257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Aura</string>
	<key>PROJECT_ID</key>
	<string>rosy-environs-488218-q1</string>
	<key>STORAGE_BUCKET</key>
	<string>rosy-environs-488218-q1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799076129257:ios:c71c1ff038dcd3aa4b1378</string>
</dict>
</plist>